@import url(https://fonts.googleapis.com/css?family=Raleway:700,400,100);

body {
  background: #d0eef5; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #ffffe2 , #d0eef5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ffffe2, #d0eef5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ffffe2, #d0eef5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ffffe2 , #d0eef5); /* Standard syntax */
  font-family: "Raleway", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
  text-align: center;
  margin: 40px 0;
}

header h1 {
  font-size: 6rem;
  font-weight: 100;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

article {
  background-color: white;
  margin-bottom: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

article:after {
  display: table;
  clear: both;
  content: "";
}

article p {
  margin: 0;
}

img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.content {
  padding: 20px 20px;
  color: #594C5D;
}

.reply-list p {
  margin: 0 20px 10px 20px;
}

.reply-list hr {
  margin: 0 19px;
}

.respond div, input {
  float: left;
}

input {
  border: 0;
  height: 50px;
  width: 80%;
  color: #666;
}

input:focus {
  outline:none;
}

footer {
  text-align: center;
  color: #888;
}

footer p {
  padding: 25px 0;
  margin: 0;
}

.heart {
  background: url("image/web_heart_animation.png");
  background-position: left;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-size:1450px;
  margin-left: 3px;
}

.display-none {
  display: none;
}


@-webkit-keyframes heartBlast {
  0% { background-position: left; }
  100% { background-position: right; }
}

@keyframes heartBlast {
  0% { background-position: left; }
  100% { background-position: right; }
}

.heartAnimation {
  -webkit-animation-name: heartBlast;
  animation-name: heartBlast;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(28);
  animation-timing-function: steps(28);
  background-position: right;
}


@media screen and (min-width: 768px) {
  input {
    width: 88%;
  }
}
